<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="org.seleniumhq.selenium.selenium_java.chenpin"></class>
      <class name="org.seleniumhq.selenium.selenium_java.LoginAuthTest"></class>
      <class name="org.seleniumhq.selenium.selenium_java.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
